extends layout

block head
	link(rel = 'stylesheet', href = 'canvas.css')

block body
	form
		div.form-group
			label(for = 'repoName') Repository Name
			input#repoName.form-control(type = 'text', value = 'painter')

		div#canvas
		br(style = 'clear: both;')
	
		div.form-group.radio.brushes
			strong(style = 'margin-right: 14px;') Brush:
			label.radio-inline
				input(type = 'radio', value = 'darkest', name = 'brush', checked = 'checked')
				| Darkest
			label.radio-inline
				input(type = 'radio', value = 'darker', name = 'brush')
				| Darker
			label.radio-inline
				input(type = 'radio', value = 'dark', name = 'brush')
				| Dark
			label.radio-inline
				input(type = 'radio', value = 'none', name = 'brush')
				| Erase

		div.form-group
			button#create-btn.btn.btn-success Create!

block scripts
	script(src = 'canvas.js')
