- meta = meta || {}

doctype html
html
	head
		title GitHub Painter

		link(rel = 'stylesheet', href = '//fonts.googleapis.com/css?family=Lato:300,400,700,900')
		link(rel = 'stylesheet', href = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity = 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin = 'anonymous')
		link(rel = 'stylesheet', href = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity = 'sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin = 'anonymous')
		link(rel = 'stylesheet', href = '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css')

		block head

	body
		div.container

			div.row: div.col-xs-12
				h1
					i(class = 'fa fa-paint-brush', style = 'margin-right: 10px; color: #d0d0d0;')
					span GitHub Painter

			block body

		script(src = '//code.jquery.com/jquery-2.2.4.min.js')
		script(src = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

		block scripts
