.column {
	float: left;
}

.cell {
	width: 12px;
	height: 12px;
	margin: 1px;
}

.cell.blank {
	background-color: #dddddd;
}

.cell.dark {
	background-color: #7bc96f;
}

.cell.darker {
	background-color: #239a3b;
}

.cell.darkest {
	background-color: #196127;
}

